<div style="width: 100%; text-align: center;">
    <strong>Olá</strong>
    <p>Um Evento foi cancelado :( confira os detalhes abaixo:</p>
    <p>
        <strong>Evento: </strong> {{ name }} <br />
        <strong>Data / Hora: </strong> {{ date }} <br /><br />
        <small style="color: red">O horário está disponível para novos eventos.</small>
    </p>
</div>
