<div style="width: 100%; text-align: center;">
    <strong>Olá</strong>
    <p>Alguém se inscreveu no Evento organizado por Você</p>
    <p>
        <strong>Evento: </strong> {{ name }} <br />
        <strong>Data / Hora: </strong> {{ date }} <br /><br />
        <strong>Nome: {{ user }}</strong>
    </p>
</div>
